<div
  class='a-cardui feature'
  data-a-card-type='basic'
  name='a-cardui-deck-autoname-10-card0'
  data-cel-widget=''
>
  <h3>Product description</h3>
  <div
    class='aplus-v2 mobile celwidget'
    cel_widget_id='m-aplus'
    data-csa-c-id='5v3hpv-ow2b3k-fdw2d5-q493z7'
    data-cel-widget='m-aplus'
  >
    <style type='text/css'>
      .aplus-v2 .aplus-3p-center-content { text-align: center; width: 100%; }
    </style>
    <style type='text/css'>
      .aplus-v2.mobile { display:inherit; word-wrap: break-word; overflow-wrap:
      break-word; word-break: break-word; } /* Undo this for tech-specs because
      it breaks table layout */ .aplus-v2.mobile .aplus-standard
      .aplus-tech-spec-table { word-break: initial; } .aplus-v2.mobile
      .aplus-standard.aplus-module { min-width:inherit; margin-bottom: 21px; }
      .aplus-v2.mobile .aplus-standard .apm-sidemodule {width:inherit}
      .aplus-v2.mobile .aplus-standard .apm-fixed-width {width:inherit} /*
      module-5 */ .aplus-v2.mobile .aplus-standard.module-5{overflow:auto}
      .aplus-v2.mobile .aplus-standard .aplus-module-wrapper { display: block; }
      .aplus-v2.mobile .aplus-standard img.apm-middle-image { vertical-align:
      middle; } .aplus-v2.mobile .aplus-standard .apm-iconheader { display:
      inline; } .aplus-v2.mobile .aplus-standard .apm-tablemodule { text-align:
      left; } .aplus-v2.mobile .aplus-standard .apm-tablemodule { text-align:
      center; } .aplus-v2.mobile .aplus-standard table.apm-tablemodule-table th
      { padding-bottom: 8px; text-align: center; } .aplus-v2.mobile
      .aplus-standard .apm-tablemodule-image { background-color: #FFFFFF;
      padding: 0 !important; text-align: center; overflow: hidden;
      vertical-align: bottom; } .aplus-v2.mobile .aplus-standard
      table.apm-tablemodule-table th { padding-bottom: 8px; text-align: center;
      } .aplus-v2.mobile .aplus-standard th.apm-tablemodule-keyhead {
      border-top: 1px solid #dddddd; padding: 8px 14px 6px !important;
      background-color: #f7f7f7; font-weight: normal; color: #626262; float:
      none !important; margin-right: 0; text-align: center; min-width: 110px; }
      .aplus-v2.mobile .aplus-standard .apm-tablemodule-keyhead { border-right:
      1px solid #dddddd; } .aplus-v2.mobile .aplus-standard
      tr.apm-tablemodule-keyvalue td { padding-top: 8px !important;
      padding-left: 14px; padding-bottom: 8px; border-top: 1px solid #dddddd;
      border-bottom: 1px solid #dddddd; min-width: 150px; } .aplus-v2.mobile
      .aplus-standard .apm-tablemodule-image { background-color: #FFFFFF;
      padding: 0 !important; text-align: center; overflow: hidden;
      vertical-align: bottom; } .aplus-v2.mobile .aplus-standard
      .apm-tablemodule-imagerows > td > img { max-width: none !important; }
      .aplus-v2.mobile .aplus-standard table.apm-tablemodule-table th {
      padding-bottom: 8px; text-align: center; } .aplus-v2.mobile
      .aplus-standard .apm-checked { text-align: center; } .aplus-v2
      .aplus-standard .apm-tablemodule-valuecell { vertical-align: middle }
      .aplus-v2.mobile .aplus-standard .apm-tablemodule-valuecell.selected {
      background-color: #fff5ec; } .aplus-v2 .add-to-cart { line-height: 1rem;
      font-weight: normal; } .aplus-v2 .apm-tablemodule-atc form {
      margin-bottom: 0px; } /* moduel 13 text */ .aplus-v2 .aplus-standard
      .aplus-module-13 { padding: 20px 0; } .aplus-v2 .aplus-standard
      .aplus-module-13 .aplus-13-heading-text { padding-bottom: 15px; }
      .aplus-v2 .aplus-standard .aplus-module-13 p { text-align: left;
      padding-bottom: 10px; } .aplus-v2 .aplus-standard .aplus-module-13 p {
      text-align: inherit; padding-bottom: 10px; } html[dir='rtl'] .aplus-v2
      .aplus-standard .apm-spacing ul {margin:0 18px 18px 0 !important;}
    </style>
    <div
      class='celwidget aplus-module 3p-module-b aplus-standard'
      cel_widget_id='aplus-m-3p-module-b'
      data-csa-c-id='7kq412-jceadd-rvce4s-imeofu'
      data-cel-widget='aplus-m-3p-module-b'
    >
      <div class='aplus-3p-center-content'>
        <img
          alt='hdmi splitter 1 in 2 out 4K 60Hz,  HDCP bypass, compatible with soundbar'
          src='https://m.media-amazon.com/images/S/aplus-media-library-service-media/b6bbd137-284c-4165-86e5-74acaa6d7a1c.__CR0,0,970,600_PT0_SX970_V1___.jpg'
          class='a-spacing-base'
          data-src='https://m.media-amazon.com/images/S/aplus-media-library-service-media/b6bbd137-284c-4165-86e5-74acaa6d7a1c.__CR0,0,970,600_PT0_SX970_V1___.jpg'
          style=''
        /><noscript><img
            alt='hdmi splitter 1 in 2 out 4K 60Hz,  HDCP bypass, compatible with soundbar'
            src='https://m.media-amazon.com/images/S/aplus-media-library-service-media/b6bbd137-284c-4165-86e5-74acaa6d7a1c.__CR0,0,970,600_PT0_SX970_V1___.jpg'
          /></noscript>
      </div>
      <h3 class='a-spacing-mini'>
        HBAVLINK HDMI 2.0 Splitter 4K 60Hz 4:4:4, 1 input 2 output
      </h3>
      <p class='a-spacing-base'>
        <span class='a-text-bold'><span
            class='a-text-italic'
          >Overview</span></span>
      </p>
      <p class='a-spacing-base'>
        <span class='a-text-bold'>HBAVLINK 1x2 HDMI Splitter</span>
        distributes one HDMI source to 2 identical HDMI displays simultaneously,
        while audio &amp; video are transmitted simultaneously. It was widely
        used in home theatre, home office, video conferece, TV shopping market,
        chothing store, food grocery, restaurant menu show, tv show, lecture
        theatre, KTV, cinema, etc.
      </p>
      <p class='a-spacing-base'>
        This HDMI 4K Splitter is also an hdmi splitter for gaming, each of hdmi
        output port can output audio separately, and can be conncted to your
        hdmi soundbar or other hdmi audio receiver equipment directly.
      </p>
      <p class='a-spacing-base'>
        W<span class='a-text-bold'><span class='a-text-italic'>hy choose
            HBAVLILNK HDMI Spitter 1 in 2 out?</span></span>
      </p>
      <p class='a-spacing-base'> </p><ul class='a-unordered-list a-vertical'><li
        ><span class='a-list-item'>Support video signal resolution up to
            4K@60Hz(4:4:4), support 4K@30Hz, 1080p@60Hz, 1080p@30Hz, 720p;</span></li><li
        ><span class='a-list-item'>Connect to your soundbar directly, HDMI audio
            pass through up to Dolty Atmos 7.1 surround sound;</span></li><li
        ><span class='a-list-item'>HDMI Splitter with downscaling, support 4K
            &amp; 1080P mixed output;</span></li><li><span
            class='a-list-item'
          >HDMI Splitter with HDCP bypass;</span></li></ul>
      <p></p>
      <p class='a-spacing-base'>
        <span class='a-text-italic'><span
            class='a-text-bold'
          >Note:</span></span>
      </p>
      <p class='a-spacing-base'> </p><ul class='a-unordered-list a-vertical'><li
        ><span class='a-list-item'>Does not extend monitor, the 2 displays will
            show the same image (For extended display, search this ASIN:
            B09TJLLLQM);</span></li></ul>
      <p></p>
    </div>
    <div
      class='celwidget aplus-module 3p-module-b aplus-standard'
      cel_widget_id='aplus-m-3p-module-b'
      data-csa-c-id='y4hmbo-nb1pz-beqlr7-9ji044'
      data-cel-widget='aplus-m-3p-module-b'
    >
      <h3 class='a-spacing-mini'> HDMI Splitter for gaming </h3>
      <div class='aplus-3p-center-content'>
        <img
          alt='hdmi splitter for gaming, compatible with PS5, ps4 and other game consoles, HDMI audio pass through'
          src='https://m.media-amazon.com/images/S/aplus-media-library-service-media/21adc15e-1007-474a-8b2b-d04ce65aa203.__CR0,0,970,600_PT0_SX970_V1___.jpg'
          class='a-spacing-base'
          data-src='https://m.media-amazon.com/images/S/aplus-media-library-service-media/21adc15e-1007-474a-8b2b-d04ce65aa203.__CR0,0,970,600_PT0_SX970_V1___.jpg'
          style=''
        /><noscript><img
            alt='hdmi splitter for gaming, compatible with PS5, ps4 and other game consoles, HDMI audio pass through'
            src='https://m.media-amazon.com/images/S/aplus-media-library-service-media/21adc15e-1007-474a-8b2b-d04ce65aa203.__CR0,0,970,600_PT0_SX970_V1___.jpg'
          /></noscript>
      </div>
      <h3 class='a-spacing-mini'> HDMI Splitter to soundbar for gaming </h3>
      <p class='a-spacing-base'>
        With this 1 in 2 out hdmi splitter, you can easily connect your game
        console to a big TV and a soundbar from just one hdmi port of the game
        console. Enjoy the vivid 4K video and Dolby vision sound while playing
        game with your friends.
      </p>
      <p class='a-spacing-base'>
        Compatible with PlayStation 5, PS4 Pro, PS4, Nitendo Switch, Xbox
        Series, and other game consoles with HDMI port.
      </p>
    </div>
    <div
      class='celwidget aplus-module 3p-module-b aplus-standard'
      cel_widget_id='aplus-m-3p-module-b'
      data-csa-c-id='ogls2i-9h1ghe-ptm2q5-2xdxqs'
      data-cel-widget='aplus-m-3p-module-b'
    >
      <div class='aplus-3p-center-content'>
        <img
          alt='1 in 2 out hdmi splitter, duplicate 1 screen to multiple rooms for your cable box, fire stick, etc.'
          src='https://m.media-amazon.com/images/S/aplus-media-library-service-media/bde4b0c0-10d0-4209-9674-aaacfbcd8425.__CR0,0,970,600_PT0_SX970_V1___.jpg'
          class='a-spacing-base'
          data-src='https://m.media-amazon.com/images/S/aplus-media-library-service-media/bde4b0c0-10d0-4209-9674-aaacfbcd8425.__CR0,0,970,600_PT0_SX970_V1___.jpg'
          style=''
        /><noscript><img
            alt='1 in 2 out hdmi splitter, duplicate 1 screen to multiple rooms for your cable box, fire stick, etc.'
            src='https://m.media-amazon.com/images/S/aplus-media-library-service-media/bde4b0c0-10d0-4209-9674-aaacfbcd8425.__CR0,0,970,600_PT0_SX970_V1___.jpg'
          /></noscript>
      </div>
      <h3 class='a-spacing-mini'>
        1 in 2 out hdmi splitter, enjoy watching your program in different rooms
      </h3>
      <p class='a-spacing-base'>
        <span class='a-text-bold'>Widely Compitability:</span>
      </p>
      <p class='a-spacing-base'> </p><ul class='a-unordered-list a-vertical'><li
        ><span class='a-list-item'>Input source: compatible with Fire TV Stick,
            Roku, Blu-Ray DVD Player, Apple TV, Xiaomi TV, DirecTV, HDTV, IPTV,
            Cable box, Satellite box, DVR, NVR, Bell ExpressVu PVR, Android
            receive box, and other devices with HDMI output port;</span></li><li
        ><span class='a-list-item'>Output display: any of the displays with HDMI
            input port, including TV, projector, monitor, hdmi capture device,
            etc.</span></li></ul>
      <p></p>
      <p class='a-spacing-base'>
        <span class='a-text-bold'>Why choose HBAVLINK?</span>
      </p>
      <p class='a-spacing-base'> </p><ul class='a-unordered-list a-vertical'><li
        ><span class='a-list-item'>HBAVLINK is working in audio &amp; video
            industry for more than 11 years, with much experience in audio video
            field;</span></li><li><span class='a-list-item'>Select high quality,
            easy to use products for customers;</span></li><li><span
            class='a-list-item'
          >Much-experience engineers are ready to provide any customer support
            for you;</span></li></ul>
      <p></p>
      <p class='a-spacing-base'>
        <span class='a-text-bold'>Package Contents:</span>
      </p>
      <p class='a-spacing-base'> </p><ul class='a-unordered-list a-vertical'><li
        ><span class='a-list-item'>1 x HDMI 2.0 Splitter 1x2</span></li><li
        ><span class='a-list-item'>1 x Power Plug</span></li><li><span
            class='a-list-item'
          >1 x Power Cable</span></li><li><span class='a-list-item'>1x User
            Manual</span></li></ul>
      <p></p>
    </div>
    <div
      class='celwidget aplus-module module-9 aplus-standard'
      cel_widget_id='aplus-m-module-9'
      data-csa-c-id='2tp3ul-3m1xwk-xulx4x-nhbcqq'
      data-cel-widget='aplus-m-module-9'
    >
      <div class='aplus-module-wrapper'>
        <div class=''>
          <p class='a-text-center'>
            <img
              alt='hdmi out to hdmi soundbar, supported audio: Dolby Atmos, 5.1/7.1 surround sound, 2-channel stereo'
              src='https://m.media-amazon.com/images/S/aplus-media-library-service-media/0689c3ec-c602-43f7-bbf2-7d238cca52ce.__CR0,0,300,300_PT0_SX300_V1___.jpg'
              class='a-spacing-mini'
              data-src='https://m.media-amazon.com/images/S/aplus-media-library-service-media/0689c3ec-c602-43f7-bbf2-7d238cca52ce.__CR0,0,300,300_PT0_SX300_V1___.jpg'
              style=''
            /><noscript><img
                alt='hdmi out to hdmi soundbar, supported audio: Dolby Atmos, 5.1/7.1 surround sound, 2-channel stereo'
                src='https://m.media-amazon.com/images/S/aplus-media-library-service-media/0689c3ec-c602-43f7-bbf2-7d238cca52ce.__CR0,0,300,300_PT0_SX300_V1___.jpg'
              /></noscript>
            <br />
          </p><h4 class='a-spacing-mini'>
            Output sound to hdmi soundbar/speaker equipment independently
          </h4>
          <p class='a-spacing-base'> </p><ul
            class='a-unordered-list a-vertical'
          ><li><span class='a-list-item'>Extract audio from source, and output
                audio to hdmi soundbar/speaker directly.</span></li><li><span
                class='a-list-item'
              >HDMI audio pass through up to Dolty atmos, dts: X 7.1 surround
                sound</span></li></ul>
          <p></p>
          <p></p>
          <p class='a-text-center'>
            <img
              alt='hdim splitter with downscaling, 4K &amp; 1080P mixed output'
              src='https://m.media-amazon.com/images/S/aplus-media-library-service-media/f1d12ca4-d9a0-4c13-8766-e4f10d45f86c.__CR0,0,300,300_PT0_SX300_V1___.jpg'
              class='a-spacing-mini'
              data-src='https://m.media-amazon.com/images/S/aplus-media-library-service-media/f1d12ca4-d9a0-4c13-8766-e4f10d45f86c.__CR0,0,300,300_PT0_SX300_V1___.jpg'
              style=''
            /><noscript><img
                alt='hdim splitter with downscaling, 4K &amp; 1080P mixed output'
                src='https://m.media-amazon.com/images/S/aplus-media-library-service-media/f1d12ca4-d9a0-4c13-8766-e4f10d45f86c.__CR0,0,300,300_PT0_SX300_V1___.jpg'
              /></noscript>
            <br />
          </p><h4 class='a-spacing-mini'>
            HDMI Splitter with auto downloscaling
          </h4>
          <p class='a-spacing-base'>
            no need additional setting, plug &amp; play, auto detect each TV's
            supported resolution, output resolution can be dual 4K60Hz, dual
            4K30Hz, 4K60Hz &amp; 1080P60Hz, 4K30Hz &amp; 1080P30Hz, dual 1080P,
            dual 720P.
          </p>
          <p class='a-spacing-base'>
            <span class='a-text-bold'><span
                class='a-text-italic'
              >Note:</span></span>
          </p>
          <p class='a-spacing-base'> </p><ol
            class='a-ordered-list a-vertical'
          ><li><span class='a-list-item'>Does NOT support 4K &amp;720P or 1080P
                &amp; 720 mixed output;</span></li><li><span
                class='a-list-item'
              >Does NOT support fresh rate mixed output.</span></li></ol>
          <p></p>
          <p></p>
          <p class='a-text-center'>
            <img
              alt='hdmi splitter hdr, 3d, enjoy th vivid video'
              src='https://m.media-amazon.com/images/S/aplus-media-library-service-media/f3458a81-5229-4826-964f-805f72758a7c.__CR0,0,300,300_PT0_SX300_V1___.jpg'
              class='a-spacing-mini'
              data-src='https://m.media-amazon.com/images/S/aplus-media-library-service-media/f3458a81-5229-4826-964f-805f72758a7c.__CR0,0,300,300_PT0_SX300_V1___.jpg'
              style=''
            /><noscript><img
                alt='hdmi splitter hdr, 3d, enjoy th vivid video'
                src='https://m.media-amazon.com/images/S/aplus-media-library-service-media/f3458a81-5229-4826-964f-805f72758a7c.__CR0,0,300,300_PT0_SX300_V1___.jpg'
              /></noscript>
            <br />
          </p><h4 class='a-spacing-mini'> HDMI Splitter HDR, 3D </h4>
          <p class='a-spacing-base'>
            HDMI 2.0 Splitter supports HDR, 3D, HDCP 2.2, 2.3 remove.
          </p>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</div>